.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: var(--transition);
  .tab {
    display: flex;
    gap: 15px;
    .tabItem,
    .tabItemActive {
      box-shadow: 2px 5px 25px -3px var(--boxshadow);
      padding: 7px 20px 9px;
      border-radius: 5px;
      cursor: pointer;
    }
    .tabItem {
      color: var(--textcolor);
      background-color: var(--tabbg);
      transition: var(--transition);
      &:last-child {
        margin-left: auto;
      }
    }
    .tabItemActive {
      background-color: #4793ff;
      color: #fff;
    }
  }
  .items {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 20px;
    background-color: var(--tabbg);
    box-shadow: 2px 5px 25px -3px var(--boxshadow);
    transition: var(--transition);
  }
  @media (max-width: 768px) {
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
